$valueColor: 15%;
$valueColorInvert: 100%;

$orange:        #FF470F;
$yellow:        #FFDD57;
$green:         #23D160;
$turquoise:    #00D1B2;
$cyan:         #209CEE;
$blue:         #3273DC;
$purple:       #B86BFF;
$red:          #FF3860;


$primary: #3c99f0;
$info: #2db7f5;
$success: #19be6b;
$warning: #ff9900;
$error: #ed4014;
$title: #17233d;
$content: #515a6e;
$subColor: #808695;
$disabled: #c5c8ce;
$border: #dcdee2;
$divider: #e8eaec;
$background: #f8f8f9;

$primary-light : lighten($primary,$valueColor);
$primary-dark : darken($primary,$valueColor);
$primary-invert : invert($primary,$valueColorInvert);
$info-light : lighten($info,$valueColor);
$info-dark : darken($info,$valueColor);
$info-invert : invert($info,$valueColorInvert);
$success-light : lighten($success,$valueColor);
$success-dark : darken($success,$valueColor);
$success-invert : invert($success,$valueColorInvert);
$warning-light : lighten($warning,$valueColor);
$warning-dark : darken($warning,$valueColor);
$warning-invert : invert($warning,$valueColorInvert);
$error-light : lighten($error,$valueColor);
$error-dark : darken($error,$valueColor);
$error-invert : invert($error,$valueColorInvert);
$title-light : lighten($title,$valueColor);
$title-dark : darken($title,$valueColor);
$title-invert : invert($title,$valueColorInvert);
$content-light : lighten($content,$valueColor);
$content-dark : darken($content,$valueColor);
$content-invert : invert($content,$valueColorInvert);
$subColor-light : lighten($subColor,$valueColor);
$subColor-dark : darken($subColor,$valueColor);
$subColor-invert : invert($subColor,$valueColorInvert);
$disabled-light : lighten($disabled,$valueColor);
$disabled-dark : darken($disabled,$valueColor);
$disabled-invert : invert($disabled,$valueColorInvert);
$border-light : lighten($border,$valueColor);
$border-dark : darken($border,$valueColor);
$border-invert : invert($border,$valueColorInvert);
$divider-light : lighten($divider,$valueColor);
$divider-dark : darken($divider,$valueColor);
$divider-invert : invert($divider,$valueColorInvert);
$background-light : lighten($background,$valueColor);
$background-dark : darken($background,$valueColor);
$background-invert : invert($background,$valueColorInvert);
